@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffe8d6;
}
.card{
    position: relative;
    width: 350px;
    height: 450px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 6px 3px 19px -7px rgba(0,0,0,0.75);
    transition: 1s;
}
.card:hover{
    transform: translateX(50%);
}
.card .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background-color: black;
    transition: 1s;
    box-shadow: 6px 3px 19px -7px rgba(0,0,0,0.75);


}
.card:hover .imgbox{
    transform: rotateY(-180deg);
}
.card .imgbox img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card .imgbox img:nth-child(2){
    transform: rotateY(180deg);
}
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card .details .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details .content h2{
    text-align: center;
    font-weight: 700;
    line-height: 1em;
}
.card .details .content h2 span{
    color: #39cccc;
    font-size: 1.2em;
}
.card .details .content .icons{
    position: relative;
    display: flex;
    margin-top: 12px;
}
.card .details .content .icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #314e52;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px;
    font-size: 22px;
    transition: 0.4s;
    border-radius: 10px;
}
.card .details .content .icons a:hover{
    background-color: #39cccc;
    transform: translateY(-12%);
    transition: 0.5s;
}
